<p id="notice"><%= notice %></p>

<p>
  <strong>Start:</strong>
  <%= @reservation.start %>
</p>

<p>
  <strong>Duration:</strong>
  <%= @reservation.duration %>
</p>

<p>
  <strong>User:</strong>
  <%= @reservation.user %>
</p>

<p>
  <strong>Table:</strong>
  <%= @reservation.table.number %>
</p>

<%= link_to 'Edit', edit_reservation_path(@reservation) %> |
<%= link_to 'Back', @reservation.table %>
